@tailwind base;
@tailwind components;
@tailwind utilities;
#header1 {
  background-color: darkslategray;
  opacity: 0.75;
}
.text-gray-500 {
  --tw-text-opacity: 3;
  font-size: 20px;
}
.font-medium {
  font-weight: 900;
}
